.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(51, 51, 51, 0.5);
    z-index:  10px;
    display: flex;
    justify-content: center;
    /* // alignItems: center", */
    overflow:auto;
}

@media screen and (max-width: 1225px) {
    .modal-background {
        padding: 0 20px;
    }
}